venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
logs/*.log
.env
*.pkl
*.mp4
*.joblib
.DS_Store
src/data/creditcard.csv
src/data/creditcard.zip
artifacts/train_py_v1.mp4
#artifacts/models/model.pkl
src/data/X_test.csv
src/data/X_train.csv
src/data/y_test.csv
src/data/y_train.csv
src/data/creditcard.csv
src/data/creditcard.zip
# MLflow
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal
data/*.db